*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-orange-color: #f08923;
    --heavy-grey: #7a7a7a;
    --light-grey: #cdcdcd;
    --background-white: #ffffff;
    --transparent-white: rgba(255, 255, 255, 0.7);
    --transparent-grey: rgba(205, 205, 205, 0.7);
    --text-color-white: #ffffff;
    --text-color-grey: #54595F;
    --text-color-black: black;

    --blur-filter: blur(8px);
}

body {
    overflow: hidden;
    background-color: var(--background-white);
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: .8rem;
}

header {
    color: var(--background-white);
    padding: 1rem;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
}

.logo {
    height: 2rem;
    margin: 0 1rem;
}

.menu-container {
    display: flex;
    align-items: center;
}

.menu-container:last-child {
    margin-left: auto;
}

h1 {
    margin: 0rem 0rem 1rem 0rem;
    text-align: center;
}

h2 {
    margin: 1rem auto;
    text-align: center;
    color: var(--heavy-grey);
}

h3 {
    margin: 1rem;
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color-black);
}

h3:hover {
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-underline-offset: .7rem;
}

.button {
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color-black);
    font-family: 'Helvetica', sans-serif;
    text-decoration: none;
}

#super{  
    vertical-align: super;  
    font-size: .5rem;
    color: var(--main-orange-color);
    font-weight: 600;
    letter-spacing: 0.03rem;
}  

#viewer-container {
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
    display: flex;
}

.toolbar {
    display: flex;
    justify-content: right;
    position: absolute;
    width: 100%;
    background-color: var(--transparent-grey);
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap
}

/* For floorplan and export buttons */
.button-container {
    z-index: 2;
    position: relative;
    left: .5rem;
    top: .5rem;
    display: flex;
    flex-direction: column;
    opacity: 0;
    overflow-y: scroll;
    max-height: 15rem;
}

button {
    border: 1px solid var(--light-grey);
    background: var(--transparent-white);
    backdrop-filter: var(--blur-filter);
    border-radius: 25px;
    margin: 0.2rem;
    padding: 0.5rem;
    cursor: pointer;
    width: 8rem;
    transition: width 0.2s ease-in-out;
}

button:hover {
    background: var(--main-orange-color);
    width: 10rem;
}

/* From uiverse.io by @mrhyddenn */
.icon-button {
    width: 30px;
    height: 30px;
    /* border: 1px solid var(--light-grey); */
    background: var(--transparent-white);
    backdrop-filter: var(--blur-filter);
    border-radius: 25px;
    position: relative;
    transition: width 0.2s ease-in-out;
    font-size: 0.01rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .3rem;
}

.icon-button:hover {
    width: 120px;
    cursor: pointer;
    background: var(--main-orange-color);
    font-weight: 700;
    font-size: 0.8rem;
}

.container .active {
    width: 120px;
    cursor: pointer;
    background: var(--main-orange-color);
    font-weight: 700;
    font-size: 0.8rem;
}

.icon-button::after {
    /* right: 14px; */
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.icon-button::before {
    /* left: 14px; */
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

svg {
    fill: var(--heavy-grey);
    transition: all 0.2s ease-in-out;
    /* position: absolute; */
}

.icon-button:hover svg {
    opacity: 0;
    display: flex;
    transform: translateY(5px);
}

.active svg {
    fill: var(--background-white);
}

.text-button {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    color: var(--text-color-grey);
}

.icon-button:hover .text-button {
    opacity: 1;
    color: var(--text-color-white);
    position: absolute;
}

/* For dimentions */
.ifcjs-dimension-preview {
    width: 1rem;
    height: 1rem;
    background-color: var(--main-orange-color);
    border-radius: 1rem;
    opacity: 0.5;
}

.ifcjs-dimension-label {
    background-color: var(--text-color-grey);
    color: var(--background-white);
    padding: 4px;
    border-radius: 4px;
}

.all-menus {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
}

.checkboxes {
    position: relative;
    padding: 0.5rem;
    opacity: 0;
    max-height: 7rem;
    background-color: var(--transparent-white);
    overflow-y: scroll;
}

/* For properties menu */
.ifc-property-menu {
    position: relative;
    background-color: var(--transparent-white);
    opacity: 0;
    font-weight: 700;
    overflow-y: scroll;
    max-height: 10rem;
}
.ifc-property-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.5rem;
    border-bottom: solid 1px gray;
    font-weight: 500;
}
.ifc-property-value {
    width: 100%;
    text-align: right;
    font-weight: 500;
}
.visible {
    opacity: 1;
}

/* Tree view */
.ifc-tree-menu {
    position: relative;
    overflow-y: scroll;
    background-color: var(--transparent-white);
    max-height: 15rem;
}

li ul {
    user-select: none;
    cursor: pointer;
}

/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0.5rem;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.all-menus .active {
    display: block;
    margin-left: 10px;
}

@media (max-width: 800px) {
    h3 {
        display: none;
    }
    h1 {
        font-size: 1.5rem;
        /* width: 50%; */
    }
    /* button {
        font-size: 0.7rem;
        height: 2rem;
    } */
}